body {
    background-color: #b1bfd8;
    background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);
    font-size: 20px;
}

input.input {
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}

button.sub_btn {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: .3em 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
}

button.sub_btn:hover {
    background-color: #4095c6;
    border-color: rgba(255, 255, 255, 1);
}